/[Ll]ibrary
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

/[Rr]ecordings/
[Aa]ssets/Plugins/Editor/JetBrains*

.vs/
.vscode/
.idea/

.gradle/
*.csproj
ExportedObj/
.consulo/
*.sln
*.tmp
*.user
.vsconfig
*.meta
